# --- Dependencias ---
node_modules
# En monorepos a veces se crean node_modules dentro de las apps, ignóralos todos
*/node_modules

# --- Monorepo / Herramientas ---
.turbo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --- Entorno / Variables de Ambiente ---
# ¡CRÍTICO! Nunca subas tus claves privadas
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# --- Builds y Dist ---
# Carpetas de compilación de Vite, Node, Next, etc.
dist
build
out
coverage

# --- Frameworks específicos ---
# Next.js (por si acaso agregas uno luego)
.next/

# --- IDEs y Sistema Operativo ---
.DS_Store
Thumbs.db
.idea
.vscode
*.swp
*.swo

# --- Archivos temporales ---
tmp/
temp/